ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    float: right;
    text-align: center;
    /* display: inline; */
    /* position: absolute; */
}

li {
    display: inline;
}



#search-area {

text-align: center;

}

